header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

section {
  position: relative;
  z-index: 12;
}

.main__title {
  position: fixed;
  width: 40vh;
  height: 28vh;
  left: 0;
  top: 0;
  scale: .94;
  margin-left: 2vh;
  z-index: 20;
}

.main__title img {
  width: 100%;
}

.filter__lader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vh;
  height: 10vh;
  margin: 10vh;
  margin-top: 16vh;
}

.icon_sound {
  position: absolute;
  width: 8vh;
  height: 4vh;
  top: 3vh;
  right: 6vh;
  color: #000000;
  scale: 1.4;
  z-index: 12;
}

.btn_sound {
  position: fixed;
  width: 8vh;
  height: 4vh;
  right: 2vh;
  top: 2vh;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  z-index: 12;
}

.btn_sound div {
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background-color: #9093b4;
}

@keyframes side {
  100% {
    transform: translateX(4vh);
    background-color: #1004fa;
  }
}

.animation {
  animation-name: side;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animationReversa {
  animation-name: side;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.reset-animation {
  animation: none;
}