header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

section {
  position: relative;
  z-index: 12;
}

.main__title {
  position: fixed;
  width: 40vh;
  height: 28vh;
  left: 0;
  top: 0;
  scale: .94;
  margin-left: 2vh;
  z-index: 20;
}

.main__title img {
  width: 100%;
}

.filter__lader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vh;
  height: 10vh;
  margin: 10vh;
  margin-top: 16vh;
}


